*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body{
    border-bottom: 30px solid #085271; 
}

.barra li {
    position: bottom;
    float: left;
    text-align: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px;
    margin-bottom: 0px;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
}

.login {
    color: black;
    border: 1px black;
    
}

.login:hover{
  color: white;
  transition: all .3s;
}

.options {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #085271;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 58px;
}

.Boton--cabecera{

    background-color: #085271;
    border: none;
    color: #fff;
    font-size: 16px;
    transition: all .4s;
    cursor: pointer;
}

.Boton--cabecera:hover{

    background-color: #02a352;
    outline: 20px solid #02a352;
    transition: all .4s;
}

#estado-sesion a {
    margin-right: 17px;
    text-decoration: none;
}

.contenedor_formulario{
    height:100%;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    display:flex;
    background-image: url(https://static4.abc.es/media/sociedad/2020/12/26/batiburrillo-mascotas-kBiG--620x349@abc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
    height: 100vh;
}

.form_registro{
    margin: auto;
    margin-top: 50px;
    width: 450px;
    height: 600px;
    border-radius: 15px;
    display: block;
    box-shadow: 0 1rem 1rem #00000080,0 1rem 1rem #00000080;
    border: none;
    background-color: #004a69;
}

.form_registro--titulo2{
    width: 100%;
    margin-bottom: 35px;
    text-align: center;
    padding-top: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: #fff;
    font-weight: 4px;
}

h3{
    font-size: 30px;
}

.user-info{
    padding-top: 10px;
    padding-left: 15px;
}

.form_registro--nombre{
    background-color: #fff;
    width: 90%;
    height: 30px;
    display: block;
    margin: 10px 0 0 10px;
    margin-top: 23px;
    border-width: 1px; 
    border-color: #02a352;
    font-size: 15px;
    border-radius: 8px;
    padding-left: 20px;
    color: black;
}

.form_registro--nombre::placeholder{
    color: black;
}

.form_registro--Registrar{

    width: 40%;
    height: 30px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color:#02a352;
    border: none;
    border-radius: 8px;
    color: #fff;
    transition: all .8s;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.form_registro--Registrar:hover{
    box-shadow: 0 8px 10px 5px #053549;
    background-color: #053549;
    transition: .8s;
}

.btn_pagar{
    position: absolute;
    width: 150px;
    left: 50px;
    top: 10px;
}

.btn_pagar input {
    border: none;
    background-color: red;
    border-radius: 10px;
    color: #fff;
    width: 150px;
    height: 30px;
    cursor: pointer;
}

.btn_pagar input:hover{
    background-color: rgb(143, 7, 7);
}