*{

  font-family: 'DM Sans', sans-serif;

}

body{

  border-top: 30px solid #085271;
  border-bottom: 30px solid #085271;
  margin: 0;
  background-image: url(../images/Perritos.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position:right;

}

form{

  width: 450px;
  min-width: 400px;
  margin: auto;
  padding: 30px;
  border: 3px solid #004a69;
  border-radius: 15px;
  box-shadow: .5rem .5rem .5rem #26586d;
  background:#085271;
  color: #fff;

}

input{

  width: 100%;
  height: 40px;  
  display: block;
  margin: 15px auto;
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #02a352;

}

input{

  outline: none;

}

h2{

  text-align: center;

}

.btn-success{

  width: 150px;
  height: 35px;
  color: #fff;
  background: #009926;
  display: block;
  margin: auto;
  margin-top: 20px;
  border-radius: 15px;
  transition: all .5s;
  border: none;
  cursor: pointer;
}

.btn-success:hover{

  box-shadow: .3rem .3rem .3rem #2f5d70;
  transition: all .5s;

}

textarea{

  width: 100%;
  height: 200px;
  display: block;
  margin: auto;
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #02a352;

}

textarea:focus{

  outline: none;

}

li{
  border-radius: 15px;
  padding: 10px;
  padding-top: 0px;
  margin: 20px;
  max-width: 30%;
  min-width: 300px;
  display: inline-block;
  background:#085271;
  border: 3px solid #004a69;
  box-shadow: .5rem .5rem .5rem #26586d;
  color: #fff;

}

.btn-danger{

  background: rgb(179, 0, 0);
  display: block;
  border:none;
  margin: auto;
  color: #fff;
  border-radius: 15px;
  width: 130px;
  height: 30px;
  transition: all .2s;

}

.btn-danger:hover{

  box-shadow: .3rem .3rem .3rem rgb(119, 0, 0);
  transition: all .5s;

}