body,html {
    height:100%;
    margin:0;
}

body{

    border-top: 30px solid #085271;
    border-bottom: 30px solid #085271;

}

.container {
    height:100%;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    display:flex;
    background-image: url(../images/fondo\ gato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
    height: 100vh;
  }

.direccion {
    display: flex;
    justify-content: space-between;
    z-index: 0;
}
.contact_form{  
    background: #73a6e4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 450px; 
    padding: 30px;
    display: flex; 
    justify-content: center;
    height: auto;
    border-radius: 10px;    
    padding-left: 10px; 
    margin: auto;
    margin-top: 15px;
    border: 3px solid #004a69;
    border-radius: 15px;
    box-shadow: .5rem .5rem .5rem #26586d;
    background:#085271;
    color: #fff;
}

.input-form{

    outline: none;

}
  
.input-form{
    background-color: #fbfbfb; 
    width: 100%; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #02a352; 
    margin-top: 5px;  
    padding-left: 5px;
    margin-bottom: 15px; 
}
  
textarea{
    background-color: #fbfbfb; 
    width: 100%; 
    height: 100px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #02a352; 
    margin-top: 5px;  
    padding-left: 5px;
    margin-bottom: 15px; 
    padding-top: 10px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

textarea:focus{

    outline: none;

}
  
label{
    display: block; 
    float: center;  
}
  
.boton-form {
    width: 150px;
    height: 35px; 
    padding-left: 5px;
    padding-right: 5px;     
    text-transform: uppercase;
    background-color: #009926; 
    border-color: #009926; 
    border-style: solid; 
    border-radius: 10px; 
    width: 420px;   
    cursor: pointer;
}

.boton-form:hover{

    box-shadow: .3rem .3rem .3rem #2f5d70;
    transition: all .5s;

}

  
form p {
    margin: 0px;
    color: #fff;
}
  
button p{
    color: #fff; 
}
  
span{
    color: #ff0000; 
}
  
.aviso{
    font-size: 10px;  
    color: #ffffff;  
}
  